<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>考试</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/lib/layui-v2.5.6/css/layui.css" media="all">
    <link rel="stylesheet" href="/css/public.css" media="all">
    <link rel="stylesheet" href="/lib/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/question.css">
    <style>
        .panel-title {
            font-size: 16px;
            font-weight: 500;
            line-height: 30px;
            padding: 5px 15px;
        }
        .codeTitle {
            font-size: 20px;
            font-weight: 400;
            margin: 25px 0 8px;
            color: #3091f2;
        }
        .sample-input .sample-output {
            width: 50%;
            -ms-flex: 1 1 auto;
            flex: 1 1 auto;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-direction: column;
            flex-direction: column;
            margin-right: 5%;
        }
        .layui-card-header p {
            /*width: 148px;*/
            height: 45px;
            padding-left: 10px;
            border: 1px solid #e4e4e4;
            border-left-color: rgb(228, 228, 228);
            display: block;
            float: left;
            font-size: 16px;
            color: #f00;
            margin: 0px;
        }
    </style>
</head>
<body>
<div style="padding: 20px; background-color: #F2F2F2;">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md9">
            <div class="layui-card">
                <div style="background: #009E94" class="layui-card-header exam-title" id="exam_title"></div>
               <form class="layui-form">
                   <!--<div hidden>
                       <input name="examId" type="text"/>
                   </div>-->
                    <div class="layui-card-body">
                    <div class="layui-card">
                        <div class="layui-card-header ">
                            <div class="question_title">选择题</div>
                        </div>
                        <div class="layui-card-body">
                            <ul id="choiceQuestionList">
                                <!--选择题列表-->
                            </ul>
                        </div>
                    </div>
                    <div class="layui-card">
                        <div class="layui-card-header">
                            <div class="question_title">判断题</div>
                        </div>
                        <div class="layui-card-body">
                            <ul id="judgementQuestionList">
                                <!--判断题列表-->
                            </ul>
                        </div>
                    </div>
                    <div class="layui-card">
                        <div class="layui-card-header">
                            <div class="question_title">填空题</div>
                        </div>
                        <div class="layui-card-body">
                            <ul id="fillingBlankQuestionList">
                                <!--填空题题列表-->
                            </ul>
                        </div>
                    </div>
                    <div class="layui-card">
                        <div class="layui-card-header">
                            <div class="question_title">编程题</div>
                        </div>
                        <div class="layui-card-body">
                            <ul id="codeQuestionList">
                                <!--编程题列表-->

                            </ul>
                        </div>
                    </div>
                </div>
                   <div class="layui-form-item">
                       <div style="text-align: center;">
                           <button type="submit"  class="layui-btn" lay-submit="" lay-filter="demo1">立即交卷</button>
                       </div>
                   </div>
               </form>
            </div>
        </div>
        <div class="layui-col-md3">
            <div class="layui-card">
                <div class="layui-card-header">
                    <h1>答题卡</h1>
                    <p id="test"></p>
                </div>
                <div class="layui-card-body">
                    <div class="answer-card-content">
                        <div class="answer-card-content-tittle">
                            <div style="width: 150px;float: left;text-align: center;font-weight: bold;padding-top: 10px;">
                                选择题
                            </div>
                            <div style="width: 100px;float: right;text-align: center;padding-top: 10px;">共<span
                                    id="choiceQuestionCount"></span>题
                            </div>
                        </div>
                        <ul id="choiceQuestionIconList">
                        </ul>
                    </div>
                    <div class="answer-card-content">
                        <div class="answer-card-content-tittle">
                            <div style="width: 150px;float: left;text-align: center;font-weight: bold;padding-top: 10px;">
                                判断题
                            </div>
                            <div style="width: 100px;float: right;text-align: center;padding-top: 10px;">共<span
                                    id="judgementQuestionCount"></span>题
                            </div>
                        </div>
                        <ul id="judgementQuestionIconList">

                        </ul>
                    </div>
                    <div class="answer-card-content">
                        <div class="answer-card-content-tittle">
                            <div style="width: 150px;float: left;text-align: center;font-weight: bold;padding-top: 10px;">
                                填空题
                            </div>
                            <div style="width: 100px;float: right;text-align: center;padding-top: 10px;">共<span
                                    id="fillingBlankQuestionCount"></span>题
                            </div>
                        </div>
                        <ul id="fillingBlankQuestionIconList">

                        </ul>
                    </div>
                    <div class="answer-card-content">
                        <div class="answer-card-content-tittle">
                            <div style="width: 150px;float: left;text-align: center;font-weight: bold;padding-top: 10px;">
                                编程题
                            </div>
                            <div style="width: 100px;float: right;text-align: center;padding-top: 10px;">共<span
                                    id="codeQuestionCount"></span>题
                            </div>
                        </div>
                        <ul id="codeQuestionIconList">
                        </ul>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>
<script src="/lib/layui-v2.5.6/layui.js" charset="utf-8"></script>
<script src="/lib/jquery-3.4.1/jquery-3.4.1.min.js" charset="utf-8"></script>
<script src="/js/common.js" charset="utf-8"></script>
<script type="text/javascript">
    layui.use(['layer', 'form','util'], function () {
        let layer = layui.layer,
            form = layui.form,
            util = layui.util;
        let serverTimeString,endTimeString,startTimeString;
        form.on('submit(demo1)', function (data) {
            /*layer.alert(JSON.stringify(data.field), {
                title: '最终的提交信息'
            })*/
            data.field.examId = getURLParameter('exam_id');
            $.ajax({
                type: "post",
                url: "/student/submitTestPaper",
                data: data.field,
                //dataType: "json",
                contentType: "application/x-www-form-urlencoded",
                beforeSend: function () {
                    i = ityzl_SHOW_LOAD_LAYER();
                },
                success: function (data) {
                    ityzl_CLOSE_LOAD_LAYER(i);

                    if(data.code !== 200){
                        layer.alert(data.data);
                    } else{
                    layer.msg("判题中...");
                    $.ajax({
                        type: 'get',
                        url: '/student/getExamScore',
                        data:{
                            examId: getURLParameter('exam_id')
                        },
                        success: function(result){
                            if(result.code===200){
                                layer.alert("您的成绩是："+result.data+'分');
                            } else {
                                layer.alert(result.message);
                            }

                        },
                        error: function(){
                            layer.alert("连接失败");
                        }
                    })
                    }
                },
                error: function(){
                    ityzl_CLOSE_LOAD_LAYER(i);
                }
            });
            return false;
        });
        //添加编程题节点
        function addCodeQuestionNode(node, value, k) {
            node.append(' <li>\n' +
                '    <div class="layui-card">\n' +
                '        <div class="layui-card-header panel-title"><span>'+value.title+'</span></div>\n' +
                '        <div class="layui-card-body">\n' +
                '            <div id="problem-content" class="markdown-body">\n' +
                '                <p\n' +
                '                    class="codeTitle">描述</p>\n' +
                '                <p class="content">\n' +
                '                <p>\n' +value.description+'<br>\n' +
                '                </p>\n' +
                '                <p  class="codeTitle">输入</p>\n' +
                '                <p  class="content">\n' +
                value.input +
                '                class="codeTitle">输出\n' +
                '                <p class="content">\n' +
                value.output +
                '</p>\n' +
                '                <div>\n' +
                '                    <div class="flex-container sample">\n' +
                '                        <div class="sample-input"><p\n' +
                '                                 class="codeTitle">输入样例 1\n' +
                '                            <a  class="copy"><i\n' +
                '                                    class="ivu-icon ivu-icon-clipboard"></i></a>\n' +
                '                        </p>\n' +
                '                            <pre >'+value.sampleInput+'</pre>\n' +
                '                        </div>\n' +
                '                        <div  class="sample-output"><p\n' +
                '                                 class="codeTitle">输出样例 1</p>\n' +
                '                            <pre>'+value.sampleOutput+'</pre>\n' +
                '                        </div>\n' +
                '                    </div>\n' +
                '                </div>\n' +
                '            </div>\n' +
                '        </div>\n' +
                '    </div>\n' +
                '</li>');
        }

        //添加填空题节点
        function addFillingQuestionNode(node, value, k) {
            node.append('<li><div class="layui-card">' +
                '            <div class="layui-text"><span id=\"fl_title_' + value.questionId + '\">'
                + (k + 1) + '、' + value.question + '</span></div><hr/>' +
                '            <div class="layui-card-body">' +
                //'                <form class="layui-form" action="">' +
                '                    <div class="layui-form-item">' +
                '                        <div class="layui-row layui-col-space10" id=\"blank_' + value.questionId + '"></div>' +
                '                    </div>' +
                //'                </form>' +
                '            </div>' +
                '        </div></li>');
            for (let i = 1; i <= value.blankCount; i++) {
                $('#blank_' + value.questionId).append('<div class="layui-col-xs6 layui-col-sm6 layui-col-md4"> <label>' + i +
                    '                                        、<input type="text" class="blank" name="blank_' + value.questionId + '_' + i + '">' +
                    '                                    </label></div>')
            }
        }

        //添加判断题目节点
        function addJudgementQuestionNode(node, value, k) {
            node.append('<li><div class="layui-card">' +
                '            <div class="layui-text"><span id=\"ju_title_' + value.id + '\">'
                + (k + 1) + '、' + value.title + '</span></div><hr/>' +
                '            <div class="layui-card-body">' +
                //'                <form class="layui-form" action="">' +
                '                    <div class="layui-form-item">' +
                '                        <div class="layui-row layui-col-space10" id=\"judgement_' + value.id + '"></div>' +
                '  <div class="layui-form-item">\n' +
                '    <label class="layui-form-label">选项</label>\n' +
                '    <div class="layui-input-block">\n' +
                '      <input type="radio" name="judgement_a_' + value.id + '" value="true" title="对">\n' +
                '      <input type="radio" name="judgement_a_' + value.id + '" value="false" title="错">\n' +
                '    </div>\n' +
                '  </div>' +
                '                    </div>' +
               // '                </form>' +
                '            </div>' +
                '        </div></li>');

        }

        function addChoiceQuestionNode(node, value, k) {
            node.append('<li><div class="layui-card">' +
                '            <div class="layui-text"><span id=\"ch_title_' + value.id + '\">'
                + (k + 1) + '、' + value.title + '</span></div><hr/>' +
                '            <div class="layui-card-body">' +
                //'                <form class="layui-form" action="">' +
                '                    <div class="layui-form-item">' +
                '                        <ul id=\"option_' + value.id + '"></ul>' +
                '                    </div>' +
                //'                </form>' +
                '            </div>' +
                '        </div></li>');
            if (value.isMultiple) {
                //多选
                if (value.optionA != null && value.optionA !== "") {
                    $('#option_' + value.id).append("<li class='layui-col-md12'><input type='checkbox' lay-skin='primary' name='ch_a_"+value.id+"[A]' title='A、" + value.optionA + "'></li>");
                }
                if (value.optionB != null && value.optionB !== "") {
                    $('#option_' + value.id).append("<li class='layui-col-md12'><input type='checkbox' lay-skin='primary' name='ch_a_"+value.id+"[B]' title='B、" + value.optionB + "'></li>");
                }
                if (value.optionC != null && value.optionC !== "") {
                    $('#option_' + value.id).append("<li class='layui-col-md12'><input type='checkbox' lay-skin='primary' name='ch_a_"+value.id+"[C]' title='C、" + value.optionC + "'></li>");
                }
                if (value.optionD != null && value.optionD !== "") {
                    $('#option_' + value.id).append("<li class='layui-col-md12'><input type='checkbox' lay-skin='primary' name='ch_a_"+value.id+"[D]' title='D、" + value.optionD + "'></li>");
                }
                if (value.optionE != null && value.optionE !== "") {
                    $('#option_' + value.id).append("<li class='layui-col-md12'><input type='checkbox' lay-skin='primary' name='ch_a_"+value.id+"[E]' title='E、" + value.optionE + "'></li>");
                }
                if (value.optionF != null && value.optionF !== "") {
                    $('#option_' + value.id).append("<li class='layui-col-md12'><input type='checkbox' lay-skin='primary' name='ch_a_"+value.id+"[F]' title='F、" + value.optionF + "'></li>");
                }
            } else {
                //单选
                if (value.optionA != null && value.optionA !== "") {
                    $('#option_' + value.id).append("<li class='layui-col-md12'><input type='radio' name='ch_a_"+value.id+"' value='A' title='A、" + value.optionA + "'></li>");
                }
                if (value.optionB != null && value.optionB !== "") {
                    $('#option_' + value.id).append("<li class='layui-col-md12'><input type='radio' name='ch_a_"+value.id+"' value='B' title='B、" + value.optionB + "'></li>");
                }
                if (value.optionC != null && value.optionC !== "") {
                    $('#option_' + value.id).append("<li class='layui-col-md12'><input type='radio' name='ch_a_"+value.id+"' value='C' title='C、" + value.optionC + "'></li>");
                }
                if (value.optionD != null && value.optionD !== "") {
                    $('#option_' + value.id).append("<li class='layui-col-md12'><input type='radio' name='ch_a_"+value.id+"' value='D' title='D、" + value.optionD + "'></li>");
                }
                if (value.optionE != null && value.optionE !== "") {
                    $('#option_' + value.id).append("<li class='layui-col-md12'><input type='radio' name='ch_a_"+value.id+"' value='E' title='E、" + value.optionE + "'></li>");
                }
                if (value.optionF != null && value.optionF !== "") {
                    $('#option_' + value.id).append("<li class='layui-col-md12'><input type='radio' name='ch_a_"+value.id+"' value='F' title='F、" + value.optionF + "'></li>>");
                }
            }

        }

        //获取考试信息
        $.ajax({
            type: "get",
            async: false,
            url: "/student/getOneExam",
            data: {
                examId: getURLParameter("exam_id")
            },
            success: function (data) {
                if (data.code !== 200) {
                    layer.alert(data.message);
                } else {
                    document.getElementsByTagName("title")[0].innerText = data.data.examTitle;
                    $('#exam_title').html(data.data.examTitle);
                    startTimeString = data.data.startTime.split('T');
                    startTimeString[0] = startTimeString[0].split('-');
                    startTimeString[1] = startTimeString[1].split(':');
                    endTimeString = data.data.endTime.split('T');
                    endTimeString[0] = endTimeString[0].split('-');
                    endTimeString[1] = endTimeString[1].split(':');

                    //开始日期
                    let startTime = new Date(parseInt(startTimeString[0][0],10),
                        parseInt(startTimeString[0][1],10),parseInt(startTimeString[0][2],10),
                        parseInt(startTimeString[1][0],10),parseInt(startTimeString[1][1],10),
                        parseInt(startTimeString[1][2],10)).getTime();
                    let endTime = new Date(parseInt(endTimeString[0][0],10),
                        parseInt(endTimeString[0][1],10),parseInt(endTimeString[0][2],10),
                        parseInt(endTimeString[1][0],10),parseInt(endTimeString[1][1],10),
                        parseInt(endTimeString[1][2],10)).getTime();
                    $.ajax({
                        type: "get",
                        async: false,
                        url: "/student/getSysTime",
                        success: function (data) {
                            serverTimeString = data.data.toString().split(' ');
                        }
                    });
                    let serverTime = new Date(parseInt(serverTimeString[0],10),
                        parseInt(serverTimeString[1],10),parseInt(serverTimeString[2],10),
                        parseInt(serverTimeString[3],10),parseInt(serverTimeString[4]),10,
                        parseInt(serverTimeString[5],10)).getTime(); //假设为当前服务器时间，这里采用的是本地时间，实际使用一般是取服务端的
                    if(startTime > serverTime){
                        $('#test').html("未开始");
                    } else if(endTime < serverTime){
                        $('#test').html("已结束");
                    } else {
                    util.countdown(endTime, serverTime, function(date, serverTime, timer){
                        let str = date[0] + '天' + date[1] + '时' +  date[2] + '分' + date[3] + '秒';
                        $('#test').html(str);
                    });
                    }
                }
            }
        });
        //获取试题信息
        $.ajax({
            type: "get",
            async: false,
            url: "/student/getExamQuestions",
            data: {
                examId: getURLParameter("exam_id")
            },
            success: function (data) {
                if (data.code !== 200) {
                    layer.alert(data.message);
                } else {
                    //获取成功显示题目
                    let choiceQuestionList = data.data.choice_question;
                    $('#choiceQuestionCount').html(choiceQuestionList.length);
                    $.each(choiceQuestionList, function (k, v) {
                        //配置选择题目导航
                        $('#choiceQuestionIconList').append('<li> <a id="ch_card_' +
                            v.id + '" href="#ch_title_'
                            + v.id + '" class="answer-card-yes">' + (k + 1) + '</a></li>');
                        addChoiceQuestionNode($('#choiceQuestionList'), v, k);
                    })

                    //显示判断题
                    let judgementList = data.data.judgement_question;
                    $('#judgementQuestionCount').html(judgementList.length);
                    $.each(judgementList, function (k, v) {
                        $('#judgementQuestionIconList').append('<li> <a id="ju_card_' +
                            v.id + '" href="#ju_title_'
                            + v.id + '" class="answer-card-yes">' + (k + 1) + '</a></li>');
                        addJudgementQuestionNode($('#judgementQuestionList'), v, k)
                    })
                    form.render();
                    //显示填空题
                    let fillingBlankList = data.data.filling_question;
                    $('#fillingBlankQuestionCount').html(fillingBlankList.length);
                    $.each(fillingBlankList, function (k, v) {
                        $('#fillingBlankQuestionIconList').append('<li> <a id="fl_card_' +
                            v.questionId + '" href="#fl_title_'
                            + v.questionId + '" class="answer-card-yes">' + (k + 1) + '</a></li>');
                        addFillingQuestionNode($('#fillingBlankQuestionList'), v, k);
                    })
                    form.render();
                    //显示编程题
                    let codeQuestionList = data.data.code_question;
                    $('#codeQuestionCount').html(codeQuestionList.length);
                    $.each(codeQuestionList, function (k, v) {
                        $('#codeQuestionIconList').append('<li> <a id="cd_card_' +
                            v.id + '" href="#cd_title_'
                            + v.id + '" class="answer-card-yes">' + (k + 1) + '</a></li>');
                        addCodeQuestionNode($('#codeQuestionList'), v, k);
                    })
                }
            }
        });
        $('.addQuestionBtn').each(function () {
            $(this).click(function () {
                if (this.id === "iq1") {
                    //添加选择题
                    layer.open({
                        type: 2,
                        content: '' //这里content是一个URL，如果你不想让iframe出现滚动条，你还可以content: ['http://sentsin.com', 'no']
                    });
                }
            });
        })
    })


</script>
</body>
</html>