<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>科目管理界面</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Access-Control-Allow-Origin" content="*">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="icon" href="/images/favicon.ico">
    <link rel="stylesheet" href="/lib/layui-v2.5.6/css/layui.css" media="all">
</head>
<body>
<div class="layuimini-container">
    <div class="layuimini-main">
        <fieldset class="table-search-fieldset">
            <legend>搜索信息</legend>
            <div style="margin: 10px 10px 10px 10px">
                <form class="layui-form layui-form-pane" action="">
                    <div class="layui-form-item">

                        <div class="layui-inline">
                            <label class="layui-form-label">学科名称关键词</label>
                            <div class="layui-input-inline">
                                <input type="text" name="keywords" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <button type="submit" class="layui-btn layui-btn-primary" lay-submit
                                    lay-filter="data-search-btn"><i class="layui-icon"></i> 搜 索
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </fieldset>

        <script type="text/html" id="toolbarDemo">
            <div class="layui-btn-container">
                <button class="layui-btn layui-btn-sm data-add-btn"> 添加课程</button>
                <button class="layui-btn layui-btn-sm layui-btn-danger data-delete-btn"> 删除课程</button>
            </div>
        </script>

        <table class="layui-hide" id="currentTableId" lay-filter="currentTableFilter"></table>

        <script type="text/html" id="currentTableBar">
            <a class="layui-btn layui-btn-xs data-count-edit" lay-event="edit">编辑</a>
            <a class="layui-btn layui-btn-xs layui-btn-danger data-count-delete" lay-event="delete">删除</a>
        </script>

    </div>
</div>

<script src="/lib/layui-v2.5.6/layui.js" charset="utf-8"></script>
<script src="/lib/jquery-3.4.1/jquery-3.4.1.min.js" charset="utf-8"></script>
<script src="/lib/jquery-3.4.1/jquery.cookie.js"></script>
<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->

<script>
    layui.use(['table','form'], function () {
        let table = layui.table,
            form = layui.form;

        table.render({
            elem: '#currentTableId'
            , url: '/admin/course/getAllCourses'
            , toolbar: '#toolbarDemo'
            , cellMinWidth: 80 //全局定义常规单元格的最小宽度，layui 2.2.1 新增
            , defaultToolbar: ['filter', 'exports', 'print', {
                title: '提示',
                layEvent: 'LAYTABLE_TIPS',
                icon: 'layui-icon-tips'
            }]
            , cols: [
                [   {type: "checkbox", width: 50, fixed: "left"}
                    , {field: 'class_name', width: 160, title: '班级', sort: true}
                    , {field: 'course_name', width: 130, title: '课程名称'}
                    , {field: 'teacher_name', width: 130, title: '授课老师'}
                    ,{title: '操作', minWidth: 50, templet: '#currentTableBar', fixed: "right", align: "center"}
                ]
            ]
            , initSort: {
                field: 'class_name',
                type: 'asc'
            }
            , limits: [5,10, 15, 20, 25, 50]
            , limit: 15
            , page: true
        });
        // 监听搜索操作
        form.on('submit(data-search-btn)', function (data) {
            data = data.field;
            //执行搜索重载
            table.reload('currentTableId', {
                url: '/admin/course/getAllCourses'
                ,page: {
                    curr: 1
                }
                , where: {
                    keywords: data.keywords
                }
            }, 'data');
            return false;
        });
        // 监听添加操作
        $(".data-add-btn").on("click", function () {
            layer.open({
                title:"添加课程",
                type: 2,
                area: ['500px', '300px'],
                content: '/admin/add_course' //这里content是一个普通的String

            })
            /*layer.prompt({title: '添加科目', formType: 0}, function(pass, index){
                layer.close(index);
                $.ajax({
                    type: 'post'
                    , url: '/admin/saveOrUpdateOneSubject?type=0'
                    , data: JSON.stringify({
                        courseName : pass,
                    })
                    , dataType: "json"
                    , contentType: "application/json"
                    , success: function (data) {
                        layer.alert(data.message);
                        if(data.code === 200){
                            table.reload('currentTableId');
                        }
                    }
                });
            });*/
            return false;
        });
        // 监听删除多行操作
        $(".data-delete-btn").on("click", function () {
            let checkStatus = table.checkStatus('currentTableId')
                , data = checkStatus.data;
            if(data.length === 0){
                layer.alert("请先选择要删除的项目");
                return ;
            }
            layer.confirm('真的要删除所选行么？此操作不可撤回', function (index) {
                $.ajax({
                    type:"post"
                    , url: "/admin/deleteBatchSubjects"
                    , dataType: "json"
                    , contentType: "application/json"
                    ,data: JSON.stringify(data)
                    , success: function(data){
                        if(data.code===200){
                            layer.msg("删除成功");
                            location.reload();
                        } else {
                            layer.alert(data.message);
                        }
                    }
                });
                layer.close(index);
            });
        });
        //编辑和删除单行操作
        table.on('tool(currentTableFilter)', function (obj) {
            let data = obj.data;
            $.cookie.json = true;
            if (obj.event === 'edit') {
                //iframe层-父子操作
                //prompt层
                layer.prompt({title: '请输入修改后的科目名称', formType: 0}, function(pass, index){
                    layer.close(index);
                    $.ajax({
                        type: 'post'
                        , url: "/admin/saveOrUpdateOneSubject?type=1"
                        , data: JSON.stringify({
                            "subjectId":data.subjectId,
                            "courseName": pass
                        })
                        ,dataType: "json"
                        , contentType: "application/json"
                        , success: function(data){
                                layer.msg(data.message);
                                location.reload();
                        }
                    });
                });

                return false;
            } else if (obj.event === 'delete') {
                layer.confirm('真的删除行么', function (index) {
                    $.ajax({
                        type: 'post'
                        , url: "/admin/deleteOneSubject"
                        , data: {
                            "subjectId":data.subjectId
                        }
                        ,dataType: "json"
                        , success: function(data){
                            if(data.code===200){
                                layer.alert("删除成功");
                                obj.del();
                            } else {
                                layer.alert(data.message);
                            }
                        }
                    });
                    layer.close(index);
                });
            }
        });
    });
</script>

</body>
</html>