<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>试卷配置</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/lib/layui-v2.5.6/css/layui.css" media="all">
    <link rel="stylesheet" href="/css/public.css" media="all">
    <link rel="stylesheet" href="/lib/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/question.css">
</head>
<body>
<div style="padding: 20px; background-color: #F2F2F2;">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md9">
            <div class="layui-card">
                <div style="background: #009E94" class="layui-card-header exam_header" >
                    <div class="exam-title" id="exam_title">
                    </div>
                    <div>
                        <button type="button" id="showAuto" class="layui-btn layui-btn-normal layui-btn-sm">自动生成</button>
                    </div>
                </div>
                <div class="layui-card-body">
                    <div class="layui-card">
                        <div class="layui-card-header ">
                            <div class="question_title">选择题</div>
                            <div class="question_operation">
                                <a title="新增题目" href="#" id="aq1" class="addQuestionBtn"> <span class="fa fa-plus"></span></a>
                            </div>
                        </div>
                        <div class="layui-card-body">
                            <ul id="choiceQuestionList">
                                <!--选择题列表-->
                            </ul>
                        </div>
                    </div>
                    <div class="layui-card">
                        <div class="layui-card-header">
                            <div class="question_title">判断题</div>
                            <div class="question_operation">
                            <a title="新增题目" id="aq2" class="addQuestionBtn"> <span class="fa fa-plus"></span></a>
                            </div>
                        </div>
                        <div class="layui-card-body">
                            <ul id="judgementQuestionList">
                                <!--判断题列表-->
                            </ul>
                        </div>
                    </div>
                    <div class="layui-card">
                        <div class="layui-card-header">
                            <div class="question_title">填空题</div>
                            <div class="question_operation">
                                <a title="新增题目" id="aq3" class="addQuestionBtn"> <span class="fa fa-plus"></span></a>
                            </div>
                        </div>
                        <div class="layui-card-body">
                            <ul id="fillingBlankQuestionList">
                                <!--填空题题列表-->
                            </ul>
                        </div>
                    </div>
                    <div class="layui-card">
                        <div class="layui-card-header">
                            <div class="question_title">编程题</div>
                            <div class="question_operation">
                                <a title="新增题目" id="aq4" class="addQuestionBtn"> <span class="fa fa-plus"></span></a>
                            </div>
                        </div>
                        <div class="layui-card-body">
                            <ul id="codeQuestionList">
                                <!--编程题列表-->
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-col-md3">
            <div class="layui-card">
                <div class="layui-card-header">
                    <h1>答题卡</h1>
                </div>
                <div class="layui-card-body">
                    <div class="answer-card-content">
                        <div class="answer-card-content-tittle">
                            <div style="width: 150px;float: left;text-align: center;font-weight: bold;padding-top: 10px;">
                                选择题
                            </div>
                            <div style="width: 100px;float: right;text-align: center;padding-top: 10px;">共<span
                                    id="choiceQuestionCount"></span>题
                            </div>
                        </div>
                        <ul id="choiceQuestionIconList">
                        </ul>
                    </div>
                    <div class="answer-card-content">
                        <div class="answer-card-content-tittle">
                            <div style="width: 150px;float: left;text-align: center;font-weight: bold;padding-top: 10px;">
                                判断题
                            </div>
                            <div style="width: 100px;float: right;text-align: center;padding-top: 10px;">共<span
                                    id="judgementQuestionCount"></span>题
                            </div>
                        </div>
                        <ul id="judgementQuestionIconList">

                        </ul>
                    </div>
                    <div class="answer-card-content">
                        <div class="answer-card-content-tittle">
                            <div style="width: 150px;float: left;text-align: center;font-weight: bold;padding-top: 10px;">
                                填空题
                            </div>
                            <div style="width: 100px;float: right;text-align: center;padding-top: 10px;">共<span
                                    id="fillingBlankQuestionCount"></span>题
                            </div>
                        </div>
                        <ul id="fillingBlankQuestionIconList">

                        </ul>
                    </div>
                    <div class="answer-card-content">
                        <div class="answer-card-content-tittle">
                            <div style="width: 150px;float: left;text-align: center;font-weight: bold;padding-top: 10px;">
                                编程题
                            </div>
                            <div style="width: 100px;float: right;text-align: center;padding-top: 10px;">共<span
                                    id="codeQuestionCount"></span>题
                            </div>
                        </div>
                        <ul id="codeQuestionIconList">
                        </ul>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>
<script src="/lib/layui-v2.5.6/layui.js" charset="utf-8"></script>
<script src="/lib/jquery-3.4.1/jquery-3.4.1.min.js" charset="utf-8"></script>
<script src="/lib/jquery-3.4.1/jquery.cookie.js" charset="utf-8"></script>
<script src="/js/common.js" charset="utf-8"></script>

<script type="text/javascript">
    layui.use(['layer', 'form'], function () {
        let layer = layui.layer,
            form = layui.form

        //添加编程题节点
        function addCodeQuestionNode(node, value, k) {

        }

        //添加填空题节点
        function addFillingQuestionNode(node, value, k) {
            node.append('<li><div class="layui-card">' +
                '            <div class="layui-text"><span id=\"fl_title_' + value.questionId + '\">'
                + (k + 1) + '、' + value.question + '</span></div><hr/>' +
                '            <div class="layui-card-body">' +
                '                <form class="layui-form" action="">' +
                '                    <div class="layui-form-item">' +
                '                        <div class="layui-row layui-col-space10" id=\"blank_' + value.questionId + '"></div>' +
                '                    </div>' +
                '                </form>' +
                '            </div>' +
                '        </div></li>');
            for (let i = 1; i <= value.blankCount; i++) {
                $('#blank_' + value.questionId).append('<div class="layui-col-xs6 layui-col-sm6 layui-col-md4"> <label>' + i +
                    '                                        、<input type="text" class="blank" id="blank_' + value.questionId + '_' + i + '">' +
                    '                                    </label></div>')
            }
        }

        //添加判断题目节点
        function addJudgementQuestionNode(node, value, k) {
            node.append('<li><div class="layui-card">' +
                '            <div class="layui-text"><span id=\"ju_title_' + value.id + '\">'
                + (k + 1) + '、' + value.title + '</span></div><hr/>' +
                '            <div class="layui-card-body">' +
                '                <form class="layui-form" action="">' +
                '                    <div class="layui-form-item">' +
                '                        <div class="layui-row layui-col-space10" id=\"judgement_' + value.id + '"></div>' +
                '  <div class="layui-form-item">\n' +
                '    <label class="layui-form-label">选项</label>\n' +
                '    <div class="layui-input-block">\n' +
                '      <input type="radio" name="judgement_a_' + value.id + '" value="true" title="对">\n' +
                '      <input type="radio" name="judgement_a_' + value.id + '" value="false" title="错">\n' +
                '    </div>\n' +
                '  </div>' +
                '                    </div>' +
                '                </form>' +
                '            </div>' +
                '        </div></li>');

        }

        function addChoiceQuestionNode(node, value, k) {
            node.append('<li><div class="layui-card">' +
                '            <div class="layui-text"><span id=\"ch_title_' + value.id + '\">'
                + (k + 1) + '、' + value.title + '</span></div><hr/>' +
                '            <div class="layui-card-body">' +
                '                <form class="layui-form" action="">' +
                '                    <div class="layui-form-item">' +
                '                        <ul id=\"option_' + value.id + '"></ul>' +
                '                    </div>' +
                '                </form>' +
                '            </div>' +
                '        </div></li>');
            if (value.isMultiple) {
                //多选
                if (value.optionA != null && value.optionA !== "") {
                    $('#option_' + value.id).append("<li class='layui-col-md12'><input type='checkbox' lay-skin='primary' name='sOption[A]' title='A、" + value.optionA + "'></li>");
                }
                if (value.optionB != null && value.optionB !== "") {
                    $('#option_' + value.id).append("<li class='layui-col-md12'><input type='checkbox' lay-skin='primary' name='sOption[B]' title='B、" + value.optionB + "'></li>");
                }
                if (value.optionC != null && value.optionC !== "") {
                    $('#option_' + value.id).append("<li class='layui-col-md12'><input type='checkbox' lay-skin='primary' name='sOption[C]' title='C、" + value.optionC + "'></li>");
                }
                if (value.optionD != null && value.optionD !== "") {
                    $('#option_' + value.id).append("<li class='layui-col-md12'><input type='checkbox' lay-skin='primary' name='sOption[D]' title='D、" + value.optionD + "'></li>");
                }
                if (value.optionE != null && value.optionE !== "") {
                    $('#option_' + value.id).append("<li class='layui-col-md12'><input type='checkbox' lay-skin='primary' name='sOption[E]' title='E、" + value.optionE + "'></li>");
                }
                if (value.optionF != null && value.optionF !== "") {
                    $('#option_' + value.id).append("<li class='layui-col-md12'><input type='checkbox' lay-skin='primary' name='sOption[F]' title='F、" + value.optionF + "'></li>");
                }
            } else {
                //单选
                if (value.optionA != null && value.optionA !== "") {
                    $('#option_' + value.id).append("<li class='layui-col-md12'><input type='radio' name='sOption' value='A' title='A、" + value.optionA + "'></li>");
                }
                if (value.optionB != null && value.optionB !== "") {
                    $('#option_' + value.id).append("<li class='layui-col-md12'><input type='radio' name='sOption' value='B' title='B、" + value.optionB + "'></li>");
                }
                if (value.optionC != null && value.optionC !== "") {
                    $('#option_' + value.id).append("<li class='layui-col-md12'><input type='radio' name='sOption' value='B' title='C、" + value.optionC + "'></li>");
                }
                if (value.optionD != null && value.optionD !== "") {
                    $('#option_' + value.id).append("<li class='layui-col-md12'><input type='radio' name='sOption' value='B' title='D、" + value.optionD + "'></li>");
                }
                if (value.optionE != null && value.optionE !== "") {
                    $('#option_' + value.id).append("<li class='layui-col-md12'><input type='radio' name='sOption' value='E' title='E、" + value.optionE + "'></li>");
                }
                if (value.optionF != null && value.optionF !== "") {
                    $('#option_' + value.id).append("<li class='layui-col-md12'><input type='radio' name='sOption' value='F' title='F、" + value.optionF + "'></li>>");
                }
            }

        }

        //获取考试信息
        $.ajax({
            type: "get",
            async: false,
            url: "/exam/getOneExam",
            data: {
                examId: getURLParameter("exam_id")
            },
            success: function (data) {
                if (data.code !== 200) {
                    layer.alert(data.message);
                } else {
                    $('#exam_title').html(data.data.examTitle);
                    $.cookie.json = true;
                    console.log('add exam');
                    $.cookie('examInfo',data.data,{path: '/exam/auto_test_paper_generating'});
                }
            }
        });
        //获取试题信息
        $.ajax({
            type: "get",
            async: false,
            url: "/test-paper/getExamQuestions",
            data: {
                examId: getURLParameter("exam_id")
            },
            success: function (data) {
                if (data.code !== 200) {
                    layer.alert(data.message);
                } else {
                    //获取成功显示题目
                    let choiceQuestionList = data.data.choice_question;
                    $('#choiceQuestionCount').html(choiceQuestionList.length);
                    $.each(choiceQuestionList, function (k, v) {
                        //配置选择题目导航
                        $('#choiceQuestionIconList').append('<li> <a id="ch_card_' +
                            v.id + '" href="#ch_title_'
                            + v.id + '" class="answer-card-yes">' + (k + 1) + '</a></li>');
                        addChoiceQuestionNode($('#choiceQuestionList'), v, k);
                    })

                    //显示判断题
                    let judgementList = data.data.judgement_question;
                    $('#judgementQuestionCount').html(judgementList.length);
                    $.each(judgementList, function (k, v) {
                        $('#judgementQuestionIconList').append('<li> <a id="ju_card_' +
                            v.id + '" href="#ju_title_'
                            + v.id + '" class="answer-card-yes">' + (k + 1) + '</a></li>');
                        addJudgementQuestionNode($('#judgementQuestionList'), v, k)
                    })
                    form.render();
                    //显示填空题
                    let fillingBlankList = data.data.filling_blank_question;
                    $('#fillingBlankQuestionCount').html(fillingBlankList.length);
                    $.each(fillingBlankList, function (k, v) {
                        $('#fillingBlankQuestionIconList').append('<li> <a id="fl_card_' +
                            v.questionId + '" href="#fl_title_'
                            + v.questionId + '" class="answer-card-yes">' + (k + 1) + '</a></li>');
                        addFillingQuestionNode($('#fillingBlankQuestionList'), v, k);
                    })
                    form.render();
                    //显示编程题
                    let codeQuestionList = data.data.code_question;
                    $('#codeQuestionCount').html(codeQuestionList.length);
                    $.each(codeQuestionList, function (k, v) {
                        $('#codeQuestionIconList').append('<li> <a id="cd_card_' +
                            v.id + '" href="#cd_title_'
                            + v.id + '" class="answer-card-yes">' + (k + 1) + '</a></li>');
                        addCodeQuestionNode($('#codeQuestionList'), v, k);
                    })
                }
            }
        });
        $('.addQuestionBtn').each(function(){
            $(this).click(function(){
                if(this.id === "iq1"){
                    //添加选择题
                    layer.open({
                        type: 2,
                        content: '' //这里content是一个URL，如果你不想让iframe出现滚动条，你还可以content: ['http://sentsin.com', 'no']
                    });
                }
            });
        })
        $('#showAuto').on('click',function(){
            layer.open({
                title: '自动组卷设置'
                ,type: 2
                ,area: ['800px', '400px']
                ,id: 'auto_generate_test_paper'
                ,content: '/exam/auto_test_paper_generating?examId=' + getURLParameter("exam_id")
            });
        })
    })


</script>
</body>
</html>