.blank {
    width:100px;
    border:0;
    border-bottom:1px solid #000;
    text-align:center;
}.exam-title {
     text-align: center;
     font-size: 25px;
     padding-top: 20px;
 }

.layui-card-header h1 {
    width: 130px;
    height: 45px;
    background: #389fc3;
    text-align: center;
    font-size: 14px;
    display: block;
    float: left;
    color: #fff;
    line-height: 45px;
    margin-bottom: 0px;
}

.answer-card-content {
    width: 278px;
    height: 100%;
    border: 1px solid #e4e4e4;
    border-top-color: rgb(228, 228, 228);

}

.answer-card-content ul {
    padding: 10px;
    text-align: left;
}

.answer-card-content-tittle {
    width: 95%;
    height: 40px;
    margin: 0 auto;
    border-bottom: 1px solid #e4e4e4;
}

.answer-card-content ul li {
    display: inline-block;
    margin-bottom: 5px;
    height: 30px;
    width: 30px;
    line-height: 30px;
    text-align: center;
    border: 1px solid #e4e4e4;
}

.answer-card-content ul li a {
    display: block;
    text-decoration: none;
    color: #666;
}

.question_title {
    font-size: 20px;
    /*float: left;*/
    /*padding: 10px;*/
    display: inline;
}

.answer-card-yes {
    background-color: #99cee1;
}
.question_operation{
    float: right;
}
.exam_header{
    height: 100%;
}
