<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.csust.onlineexam.mapper.FillingInTheBlankQuestionMapper">

    <select id="getStudentFillingQuestionsByExamId"
            resultType="com.csust.onlineexam.dto.StudentFillingQuestionDTO">
        select ch.question_id,ch.question,ch.blank_one,
               ch.blank_two,ch.blank_three,ch.blank_four,ch.blank_five,ch.blank_count
        from t_test_paper te, t_filling_in_the_blank_question	ch
        where te.question_type = 'filling_in_the_blank_question'
          and te.question_id = ch.question_id
          and te.exam_id = #{examId}
    </select>
    <select id="getRandomQuestion" resultType="com.csust.onlineexam.entity.FillingInTheBlankQuestion">
        SELECT *
        FROM t_filling_in_the_blank_question ${ew.customSqlSegment}
        ORDER BY  RAND()
        LIMIT #{param1}
    </select>
    <select id="getGradeAnalysisByStudent" resultType="java.util.Map">
        select count(*) ,index_name
        from t_student_exam_info sei
                 JOIN t_judgement j on sei.question_id = j.id and sei.question_type = "填空题" and sei.answer = j.answer
                 left JOIN t_test_paper tp on tp.exam_id = sei.exam_id and tp.question_type = 'filling_in_the_blank_question'
            and tp.question_id = j.id
                 left join t_index on tp.index_id = t_index.ID
        WHERE sei.student_no = #{studentNo}
        GROUP BY index_name
    </select>
    <select id="getScoreByExamIdStudent" resultType="java.lang.Integer">
        select SUM(score)
        from t_student_exam_info sei
                 JOIN t_filling_in_the_blank_question j on sei.question_id = j.question_id and sei.question_type = "填空题" and sei.answer != ""
                 left JOIN t_test_paper tp on tp.exam_id = sei.exam_id and tp.question_type = 'filling_in_the_blank_question'
            and tp.question_id = j.question_id
                 left join t_index on tp.index_id = t_index.ID
        WHERE sei.student_no = #{studentNo} and sei.exam_id = #{examId}
        GROUP BY sei.student_no
    </select>
</mapper>
